<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Data</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>

<body>
<h1>Get Data</h1>
<form action="/getData">
    <input type="text" name="disease" id="disease" placeholder="Enter disease"/>
    <button type="submit">Submit</button>
</form>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~chris/1638.embed"
        height="525" width="100%"></iframe>

</body>

</html>